* {
	margin:0px;
	padding: 0px;
}

.left { float: left; }
.right { float: right; }
.clearfix { clear: both; }

#container {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background: orange;
}

#slides {
	position: fixed;
	height: 80%;
	width: 100%;
	background: lime;
}
#slides .slide.active {
	z-index: 1000;

}
#slides .slide {
	height: 100%;
	width: 100%;
	background: red;
	position: absolute;
	left: 0px;
	overflow: hidden;
}
#slides .slide img {
	width: 100%;

}